body {
    background-color: #EEE;
}

header{
    padding: 10px 15px;
    margin: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    height: 30px;
}

header:hover{
    background-color: rgb(196, 228, 53);
}

.div-content {
    background-color: rgb(140, 247, 197);
    padding: 5px;
}

.img {
    width: 400px;
    height: 250px;
    display: inline-block;
}

.p-car {
    display: inline-block;
}

